.header__account {
    margin: 0;
    margin-left: 30px;
    padding: 0;
    display: flex;
    height: 32px;
    gap: 13px;
}

@media screen and (max-width:320px) {
    .header__account {
        margin-left: 0;
    }
}