.card__title {
    margin: 0;
    margin-left: 14px;
    padding: 0;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.2;
    white-space: wrap;
    grid-area: title;
}

@media screen and (max-width:768px) {
    .card__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0;
    }
}

@media screen and (max-width:320px) {
    .card__title {
        font-size: 0.75rem;
    }
}