.card__container {
    position: relative;
    display: grid;
    grid-template-areas:
        "image image"
        "title duration";
    row-gap: 14px;
    grid-template-columns: 250px 1fr;
}

@media screen and (max-width:768px) {
    .card__container {
        row-gap: 25px;
    }
}

@media screen and (max-width:378px) {
    .card__container {
        grid-template-columns: 210px 1fr;
    }
}


@media screen and (max-width:320px) {
    .card__container {
        row-gap: 17px;
    }
}