.about-me {
    margin: 110px 70px 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:768px) {
    .about-me {
        margin: 90px 50px;
    }
}

@media screen and (max-width:320px) {
    .about-me {
        margin: 70px 14px 0;
    }
}